# Blacklist everything
*

# Whitelist directory contents
!*/

# Track specific filetypes
!*R
!*py
!*sql
!*sh
!*md
!*lock
!LICENSE
!*ignore
!*profile
!README*
!*bib
!*yml
!*.tex
!*environ

# Blacklist specific directories
_targets/

# Blacklist specific files
sync.sh
